
            <a href="#" class="select-company" data-company-id="11303">UnitedHealth Group</a>
            <a href="#" class="select-company" data-company-id="78652">ExxonMobil</a>
            <a href="#" class="select-company" data-company-id="3849">General Motors</a>
            <a href="#" class="select-company" data-company-id="1769">Amazon</a>
            <a href="#" class="select-company" data-company-id="156903">Apple</a>
            <a href="#" class="select-company" data-company-id="4265">Microsoft</a>
            <a href="#" class="select-company" data-company-id="241100">Ford</a>
            <a href="#" class="select-company" data-company-id="50294">Indeed</a>
            <a href="#" class="select-company" data-company-id="21206">Davenport University</a>

